@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-up {
    animation: slide-up 0.5s ease-out;
}

.custom-datepicker {
    width: 200px !important; /* Set desired width */
    height: auto !important; /* Adjust height if needed */
    max-height: 300px; /* Optional: Limit maximum height */
    overflow: hidden; /* Prevent overflow */
  }
  